@import "tailwindcss";
/* globals.css */

@theme inline {
  /* hier Farbe hinzufügen statt tailwind.config.ts neu V6*/
  --color-primary: #252422;
  --color-borderCol: #ff9b54;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
  opacity: 1;
}
