body {
  font-weight: bold;
  background-color: rgb(10 10 10);
  color: rgb(229 229 229);

  .menuBase {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    background-color: rgba(10, 10, 10, 0.9);
    backdrop-filter: blur(0px);
    z-index: 10;
    height: 100vh;

    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .menuIsOpen {
    transform: translateX(0);
  }

  @media (min-width: 1024px) {
    .menuBase {
      position: static;
      transform: translateX(0);
      background: transparent;
      height: auto;
      width: auto;
    }
  }

  //Clerk
  .authSignIn {
    h1 {
      font-size: 2rem;
      color: slategray;
    }
    .cl-card {
      display: flex;
      height: 500px;
      background-color: rgba(10, 10, 10, 0.7);
      border: 2px solid gray;
      border-radius: 15px;

      .cl-formButtonPrimary {
        margin-top: 1rem;
      }
    }
    .cl-main {
      .cl-socialButtonsBlockButton {
        border: 1px solid gray;
      }
    }
  }

  .cl-card {
    padding: 12px;

    input {
      min-height: 3rem;
      font-size: 1rem;
      background-color: rgba(10, 10, 10, 0.7);
    }

    label {
      color: gray;
    }
    span,
    p {
      font-size: 1rem;
      color: gray;
    }
  }
  .cl-formButtonPrimary {
    background-color: rgba(10, 10, 10, 0.7);
    display: flex;
    align-items: center;
    span {
      font-size: 1.5rem;
    }
  }

  .cl-socialButtonsRoot,
  .cl-socialButtons,
  .cl-formButtonPrimary {
    height: 3rem;
    font-size: 1rem;
  }
  .cl-formFieldLabel {
    font-size: 1rem;
  }

  .cl-internal-1dauvpw,
  .cl-lastAuthenticationStrategyBadge {
    display: none;
  }
  .cl-footerAction {
    display: flex;
    justify-items: center;
    align-items: center;

    span {
      font-size: 0.9rem;
      color: gray;
    }

    a {
      color: rgb(206, 205, 205);
      font-size: 1.1rem;
    }
  }
  .cl-userButtonPopoverMain {
    span,
    button {
      font-size: 1rem;
    }
    width: 300px;
  }
  .cl-userButtonPopoverActions {
    .cl-userButtonPopoverActionButton {
      color: white;
    }
  }
  .cl-userButtonPopoverCard {
    width: 300px;
  }
  .cl-internal-l2l775 {
    display: none;
  }
  //footer
  .curved-top::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 61px;
    background: black;
    border-radius: 50% 50% 0 0;
  }
}
