body {
  font-weight: bold;

  .menuBase {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: black;
    z-index: 2;

    /* STARTPOSITION (geschlossen) */
    transform: translateX(100%);
    transition: transform 700ms ease-in-out;
  }
  .menuIsOpen {
    transform: translateX(0);
  }
  /* Desktop */
  @media (min-width: 1024px) {
    .menuBase {
      position: static;
      transform: translateX(0);
      background: transparent;
      height: auto;
      width: auto;
    }
  }

  //Clerk
  .authSignIn {
    .cl-card {
      display: flex;
      height: 500px;
      .cl-internal-x0fvpz {
        .cl-headerTitle {
          color: red;
        }
      }
      .cl-formButtonPrimary {
        margin-top: 1rem;
      }
    }
  }

  .cl-card {
    padding: 12px;
    input {
      min-height: 3rem;
      font-size: 1rem;
    }
    span,
    p {
      font-size: 1rem;
    }
  }

  .cl-socialButtonsRoot,
  .cl-socialButtons,
  .cl-formButtonPrimary {
    height: 3rem;
    font-size: 1rem;
  }
  .cl-formFieldLabel {
    font-size: 1rem;
  }

  .cl-internal-1dauvpw,
  .cl-lastAuthenticationStrategyBadge {
    display: none;
  }
  .cl-footerAction {
    span,
    a {
      font-size: 1rem;
    }
  }
}
