body {
  font-weight: bold;

  .menuBase {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: black;
    z-index: 2;

    /* STARTPOSITION (geschlossen) */
    transform: translateX(100%);
    transition: transform 700ms ease-in-out;
  }
  .menuIsOpen {
    transform: translateX(0);
  }
  /* Desktop */
  @media (min-width: 1024px) {
    .menuBase {
      position: static;
      transform: translateX(0);
      background: transparent;
      height: auto;
      width: auto;
    }
  }
}
