body {
  font-weight: bold;
  font-family: sans-serif;

  .menuIsOpen {
    background-color: rgba(0, 0, 0, 0.8);
    height: calc(100% - 6px);
    position: fixed;
    z-index: 1;
    top: 6px;
    right: 0;
    width: 60%;
    transition: all 2s ease;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      li {
        font-size: 1.5rem;

        padding: 0.5rem;
      }
    }
  }
}
